body {
	font-family: 'Muli', Helvetica, sans-serif;
  	/*font-size: 2rem;*/
  	line-height: 1rem;
  	margin: 0;
  	position: relative;
  	top: 0;
  	left: 0;
    width: 100%;
}

.serious p {
	width:50%; 
	float: left; 
}

.silly {
	width:40%; 
	float: left; 
}

h1 {
	padding-top: 1.4rem;
	font-size: 4.5em; 
	font-family: 'Playfair Display', Helvetica, sans-serif;
	line-height: 1.3em;
	font-weight: normal;
	padding-bottom: 1rem;
}

ul {
	list-style-type: none;
	width: 100%;
}

li {
	display: inline-block;
}

p {
	font-size: .8em; 
	line-height: 1.8em;"
}